@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #5cc1a4;
	font-family: 'Open Sans', sans-serif;
}

/* Basic form styles */

.form {
	margin: 30px auto;
	width: 450px;
}

.form__label {
	display: block;
	margin-bottom: 5px;
	color: #fff;
	font-weight: bold;
}

.form__input,
.form__textarea {
	margin: 0 0 20px 0;
	padding: 12px 10px;
	width: 430px;
	border: 0;
	border-radius: 4px;
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 5px 5px #49b294;
	color: #2C3E50;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

.form__row--error .form__input,
.form__row--error .form__textarea {
	margin-bottom: 0;
}

.form__button {
	margin-top: 10px;
	padding: 14px 10px;
	width: 450px;
	border: 0;
	border-radius: 4px;
	background-color: #24886b;
	box-shadow: 5px 5px #49b294;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	transition: all 0.3s;
}

.form__button:hover{
	background-color: #2c3e50;
}

.form__button:active{
	margin-top: 15px;
	background-color: #2c3e50;
	box-shadow: 0px 0px #49b294;
}

.form__message {
	margin-top: 20px;
	border-radius: 4px;
	box-shadow: 5px 5px #49b294;
	padding: 18px 10px;
	animation: fadein 1s;
}

.form__message--success {
	background-color: #70F552;
	color: white;
}


/* Validations */

.form__error {
	color: white;
	display: block;
	background-color: red;
	margin-bottom: 20px;
	padding: 10px;
	position: relative;
	z-index: 10;
	animation: fadein 1s;
}


/* Helpers */

.hidden {
	display: none !important;
	visibility: hidden;
}


/* Animations */

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}